.rating-container {
    display: flex;
    gap : 4px;
}

.star {
    padding: 2px;
    width: 30px;
    height: 30px;
}

.red {
    fill: #FF6060; 
}

.gray {
    fill: #E3E3E3;
}

@media only screen and (max-width: 767px) {
    .star {
        padding : 1px;
        width : 16px;
        height: 16px;
    }

    .rating-container {
        gap : 0px;
    }

} 